# Don't know what this for
/pipes/
# Temp file
/tmp/
# JS files
/translators/
# Auto-backup file
zotero.sqlite.bak
*.sqlite-journal

# Status files
*.zotero-ft-cache
*.zotero-ft-info
*.zotero-pdf-state

# Better BibTeX
better-bibtex/cache.*